<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479604418344-cj2slevrogu6vae6ei6l8mv441f1q8rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479604418344-cj2slevrogu6vae6ei6l8mv441f1q8rr</string>
	<key>API_KEY</key>
	<string>AIzaSyCN5QZaeX8b30kNbY4t4Kq5eqQbnesnxkY</string>
	<key>GCM_SENDER_ID</key>
	<string>479604418344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kumar.rohan.WorkoutApp4-0</string>
	<key>PROJECT_ID</key>
	<string>workoutapp3-466d5</string>
	<key>STORAGE_BUCKET</key>
	<string>workoutapp3-466d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:479604418344:ios:fff5a91c74e2f4c622121d</string>
</dict>
</plist>
